{{> header }}
{{> navbar }}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">

      <h1>{{ pagetitle }}</h1>
      <p>This page provides an example of the <a href="http://docs.livefyre.com/product/apps/reviews/" target="_blank">LiveReviews™</a> app, which is part of StreamHub Core.</p>
    </div>
    <div class="col-md-7" style="border-left: 1px solid #eee; padding-top:2%;">
      <div id="livefyre"></div>
    </div>
  </div>
</div>
<script type="text/javascript">

  var networkConfig = {
    network: '{{ Constants.LIVEFYRE_NETWORK }}'
  }

  var convConfig = {
    siteId: '{{ Constants.LIVEFYRE_SITE_ID }}',
    articleId: '{{ article.articleId }}',
    el: 'livefyre',
    collectionMeta: '{{ meta }}',
    checksum: '{{ checksum }}',
    ratingSummaryEnabled: true,
    maxRating: 5,
    app: 'reviews'
  }

	 Livefyre.require(['fyre.conv#3', 'auth', 'lfep-auth-delegate#0'], function(Conv, auth, LFEPAuthDelegate) {
		var lfepAuthDelegate = new LFEPAuthDelegate({
			engageOpts: {
				app: "client-solutions.auth.fyre.co"
			}
		});

        new Conv(networkConfig, [convConfig], function(commentsWidget) {}());
        auth.delegate(lfepAuthDelegate);
    });
</script>

{{> footer }}