{{> header }}
{{> navbar }}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">

      <h1>{{ pagetitle }}</h1>
      <p>This page provides an example of the <a href="http://docs.livefyre.com/product/apps/reviews/" target="_blank">LiveReviews™</a> app, which is part of StreamHub Core.</p>
    </div>
    <div class="col-md-7" style="border-left: 1px solid #eee; padding-top:2%;">
      <div id="livefyre"></div>
    </div>
  </div>
</div>
<script type="text/javascript">

  var lfepAuthDelegate = new fyre.conv.SPAuthDelegate({engage: {app: "client-solutions.auth.fyre.co"}});

  var networkConfig = {
    network: '{{ Constants.LIVEFYRE_NETWORK }}',
    authDelegate: lfepAuthDelegate
  }

  var convConfig = {
    siteId: '{{ Constants.LIVEFYRE_SITE_ID }}',
    articleId: '{{ article.articleId }}',
    el: 'livefyre',
    collectionMeta: '{{ meta.collectionMetaToken }}',
    checksum: '{{ meta.checksum }}',
    ratingSummaryEnabled: true,
    maxRating: 5,
    app: 'reviews'
  }

  fyre.conv.load( networkConfig, [convConfig] );

</script>

{{> footer }}