body {
  padding: 15px;
  font: 14px/1.4 "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div.customer_panoramic {
  display: block;
  width: 100%;
  min-height: 1066px;
}

.container {
  min-width: 430px;
}